/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .navbar {
    background: rgba(57, 71, 158, 0.5) !important; /* Adjust the alpha value for translucency */
}

body {
    height: 100%;
    background-size: cover;
    background-position: center;
}


  
  header {
    background: rgba(51, 51, 51, 0.5); 
    padding: 3px;
    text-align: center;
    z-index: 2; /* Adjust the z-index to ensure the header is above the full-page component */
    width: 100%;
    position: fixed;
  
    top: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}


  
  /* Component container */
  .component {
    
    position: relative; /* Change to relative positioning */
    width: 100vw;
    min-height: 100vh; /* I have used min-height to ensure it takes at least the full viewport height */
    overflow: hidden;
    padding-bottom: 100px; 
}


  
  /* Overlay */
  .overlay{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 30%;
    background-color: rgba(57, 71, 158, 0.2); 
    overflow: hidden;
  }
  
  /* Title */
  .title {
    position: absolute;
    top: 52%;
    left: 50%;
    font-family: cursive;
    
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 290%;
    color: white;
    animation: fadeIn 2s ease-in-out, colorChange 5s infinite alternate; /* I have added  the fade-in animation */
    z-index: 1; 
    
    

  }
  
  /* Button */
  #clickButton {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(57, 71, 158, 0.8);
    
    color: white;
    padding: 15px 20px;
    border: black;
    border-radius: 20px;
    cursor: pointer;
  }
  footer {
    
    background-color: rgba(57, 71, 158, 0.5);
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
  @keyframes colorChange {
    0% {
        color: #fff; /* Start with white */
    }
    25% {
        color: #ed7d45; /* Magenta */
    }
    50% {
        color: #e3cf49; /* Green */
    }
    75% {
        color: #493aea; /* Blue */
    }
    100% {
        color: #ab39ed; /* End with white */
    }
}
.colorful-alert {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: linear-gradient(45deg, #3498db, #e74c3c, #2ecc71, #f39c12);
    color: #fff;
    border-radius: 10px;
    font-size: 24px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

